body{
    background-color: orange;
}

#input{
    display: flex;
    align-items: center;
    width: 80%;
}

#lim{
    font-size: 600%;
    text-align: center;
}

#xToLabel{
    font-size: 300%;
    width: 50%;
}

#xTo{
    font-size: 300%;
    width: 50%;
}

#function{
    font-size: 300%;
    width: 85%
}

#calcButton{
    font-size: 300%;
    width: 80px;
}

#limBlock{
    width: 20%;
    flex-direction: column;
}

#fuctionBlock{
    width: 75%;
}

#output{
    display: inline-block;
    width: 20%;
    font-size: 300%;
    height: 100%;
}

.if{
    display: inline-flex;
}