body{
    background-color: orange;
}

#input{
    display: flex;
    width: 70%;
}

#output{
    display: flex;
    width: 30%;
    font-size: 500%;
}

#lim{
    font-size: 800%;
    text-align: center;
}

#xToLabel{
    font-size: 300%;
    width: 50%;
}

#xTo{
    font-size: 300%;
    width: 50%;
}

#function{
    font-size: 300%;
    width: 85%
}

#calcButton{
    font-size: 300%;
    width: 80px;
}

#limBlock{
    width: 20%;
}

#fuctionBlock{
    width: 75%;
}

.ib{
    display: inline-block;
}